<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>React Backstage</title>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=6dc9c4f7199302163b7cf6766a53e3ad&plugin=AMap.MouseTool,AMap.PolyEditor,AMap.LabelMarker,AMap.Autocomplete,AMap.ToolBar,AMap.PlaceSearch,AMap.Heatmap,AMap.Geocoder"></script>
</head>
<body>
<div id="root"></div>
</body>
</html>
