.item {
  .header-name {
    height: 36px;
    background: #fafafa;
    border: 1px solid #f0f0f0;
    border-radius: 2px 2px 0px 0px;
    line-height: 36px;
    padding: 0 17px;
  }
  .header-content {
    height: 184px;
    padding: 0 17px;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
  }
  .header-content_name {
    display: flex;
    align-items: center;
    margin-top: 24px;
    .ant-checkbox + span {
      max-width: 70px;
      overflow: hidden; //超出的文本隐藏
      text-overflow: ellipsis; //溢出用省略号显示
      white-space: nowrap; //溢出不换行
      display: inline-block;
    }
  }
}
